<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Подключение Bootstrap CSS через CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .header {
                background-color: grey;
                padding: 10px;
                text-align: left;
                display: flex;
                align-items: center;
            }
            .header a {
                color: white;
                font-size: 2em;
                text-decoration: none;
            }
        </style>
        <title>Добавление URL</title>
    </head>
    <body>
        <div class="header">
            <a href="/" style="color: white; text-decoration: none;">Анализатор страниц</a>
            <a href="/urls_list" style="color: white; text-decoration: none; margin-left: 20px;">Сайты</a>
        </div>
        <!-- Вывод сообщений об ошибках -->
        {% include "components/messages.html" %}

        <!-- Форма ввода URL -->
        <div class="container">


        {% block content %}

        {% endblock %}
        </div>
        <!-- Подключение Bootstrap JS и Popper.js через CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
