<!-- urls_list.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Список URL</h1>

        <table class="table table-striped mt-3" data-test="urls">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Последняя проверка</th>
                    <th scope="col">Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                        <td scope="row">{{ url.id }}</td> <!-- ID -->
                        <td>
                            <a href="{{ url_for('show_url', url_id=url.id) }}"> <!-- Гиперссылка на show_url -->
                                {{ url.name }} <!-- Имя -->
                            </a>
                        </td>
                        <td>
                            {% if url.created_at %}
                                {{ url.created_at }}
                            {% else %}
                                Еще не проверялся
                            {% endif %}
                        </td> <!-- Последняя проверка -->
                        <td>
                            {% if url.status_code %}
                                {{ url.status_code }}
                            {% else %}
                                Еще не проверялся
                            {% endif %}
                        </td> <!-- Код ответа -->

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
